# Base de datos
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=""
DB_DATABASE=bravosdata
DB_PORT=3306

# Puerto del servidor
PORT=3001
BACKEND_URL=http://192.168.1.50:3001

# JWT
JWT_SECRET=your_secret_key_change_this_in_production
JWT_EXPIRES_IN=24h

# CORS
CORS_ORIGIN=http://localhost:3000

# Node Environment
NODE_ENV=development

SMTP_USER=fabriciobaezz11@gmail.com
SMTP_PASS=hity wrwm wflq peqb

# URL pública del backend que se usará en los emails de verificación
# En producción: https://api.tu-dominio.com
# En desarrollo LAN: http://192.168.1.50:3001
BACKEND_URL=http://localhost:3001

# URL pública del frontend
# En producción: https://app.tu-dominio.com
# En desarrollo LAN: http://192.168.1.50:5173
FRONTEND_URL=http://localhost:5173


